body {
    background-image: url('../img/darkstone.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #0000;
}
.navbar-gallery {
    text-align: center;
}
.navbar-gallery .rows {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-gallery .rows div {
    align-items: center;
    padding-top: 5px;
    height: 50px;
    margin: auto;
}
.navbar-gallery .rows div .fas {
    font-size: 30px;
}
.nav-link img {
    height: 20px;
    width: 30px;
}

/* ==============content======================= */
.category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    background:rgba(0,0,0,0.5);
    color: white;
}
.sub-category{
    width: 25%;
    padding: 10px;
    position: relative;
    text-align: center;
}
.sub-category img {
    width: 100%;
    height: 100px;
    opacity: 0.8;
    border-radius: 10px;    
}
.sub-category h4{
    display: none;
    position: absolute;
    top: 0;
}
.gallery{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.item-gallery{
    background-color: black;
    width: 45%;
    margin: 2.5%;
    position: relative;
    text-align: right;
}
.item-gallery .deskripsi-item{
    color: white;
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.item-gallery img{
    width: 100%;
}
.item-gallery .btn{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
